@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  background-image: ;
  display: block;
  max-height: auto;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body{
  margin: 0 100px;
  font-family: 'Roboto', sans-serif;

}